<!DOCTYPE html>
<html>
  <head>
    <title>Actual Budget Linking</title>
  </head>
  <body>
    <h1>Account Linking</h1>
      <form action="/submit" method="post" onsubmit="return disableButtons(this)">
        {% if actual_accounts %}
          {% if teller_accounts %} 
          <h2>Actual Budget Accounts</h2>            
            <ul>
              {% for actual_account in actual_accounts %}
                <label for="account-select-{{ actual_account }}">Link account: {{ actual_account }}</label><br>
                  <li>
                    <select onchange="checkSelects(this);" name="account-select-{{ actual_account }}">
                      <option selected value="">--Select an Account to Link--</option>
                      {% for name, id in teller_accounts.items() %}
                        <option value="{{ id }}">{{ name }}</option>
                      {% endfor %}
                    </select>    
                    <label for="{{ actual_account }}-is-negative"> &pm; Transaction</label><input type="checkbox" name="{{ actual_account }}-is-negative">                   
                  </li>
                  
            {% endfor %}
            </ul>
            <p><input id="submit" type="submit" value="Submit"></p>
            {% else %}
              <p>No Teller Accounts were found. </br>Please check the .env file and set the Teller variables or Connect to your bank below</p>
            {% endif %}
        {% else %}
          <p>No Actual Budget Accounts were found. Please check the .env file and set the Actual Variables</p>
        {% endif %}    
      </form>
      <input type="submit" id="teller-connect" value="Connect to your bank">
      <form action="/teller_connect" id="teller_connect"  method="post" style="display: none;">
        <p>Bank accounts to Link</p>
        <ul id="teller_accounts"></ul>
        <input type="submit" value="Save to env file">
      </form>
    <script>
      function onLoad() {
        var button = document.getElementById("submit");
        button.disabled = true;
        // Get all the select elements in the document
        var selects = document.querySelectorAll("select");
        
        // Loop through each select element
        for (var i = 0; i < selects.length; i++) {
          // Get the first option of the select element
          var firstOption = selects[i].options[0];

          // Set the select element's value to the first option's value
          selects[i].value = firstOption.value;
        }
      }

      function disableButtons(button) {
        button.disable = true;
        button.value = "Linking Accounts..."
      }

      // Attach the function to the window's load event
      window.addEventListener("load", onLoad);
      // window.addEventListener("redirected", onLoad);

      // This enables and disables the Submit button when this is empty and also disables an option if it is already selected
      function checkSelects(selectElement){
        var enableSubmit = false;
        var selects = document.querySelectorAll("select");
        var button = document.getElementById("submit"); 
        for (let i = 0; i < selects.length; i++)
        {
          let selectedValue = selects[i].options[selects[i].selectedIndex].value;
          if (selectedValue != "")
          {
            enableSubmit = true;
            break;
          }
        }
        button.disabled = !enableSubmit;
        
        // This disables the option to all other selects when it is changed. 
        var selectedOption = selectElement.selectedIndex;
        for (var i = 0; i < selects.length; i++) {
          if (selects[i] == selectElement)
            continue; // Skip the current select element
          selects[i].options[selectedOption].disabled = true;
          selects[i].options[0].disabled = false; // always allows the default option to be selected
        }
        var previousOption = selectElement.getAttribute('data-previous');
        if (previousOption != null) {
          for (var i = 0; i < selects.length; i++) {
            if (selects[i] == selectElement)
              continue; // Skip the current select element
            selects[i].options[previousOption].disabled = false;
          }
        }
        // Updating previous option with the current option
        selectElement.setAttribute('data-previous', selectedOption);
      }
    </script>
    <script src="https://cdn.teller.io/connect/connect.js"></script>
    <script>
      var ul = document.getElementById("teller_accounts");
      var form = document.getElementById("teller_connect");
      // Part 2. Initialize & configure the client library
      document.addEventListener("DOMContentLoaded", function() {
        var tellerConnect = TellerConnect.setup({
          applicationId: "{{ TELLER_APPLICATION_ID }}",
          environment: "{{ TELLER_ENVIRONMENT_TYPE }}",
          selectAccount: 'multiple',
          onInit: function() {
            console.log("Teller Connect has initialized");
          },
          // Part 3. Handle a successful enrollment's accessToken
          onSuccess: function(enrollment) {
            form.style.display = "block";
            console.log("User enrolled successfully", enrollment.accessToken);
            console.log(enrollment)
            console.log(enrollment.enrollment.institution.name)

            
            var li = document.createElement("li");
            var input = document.createElement("input");
            li.textContent = enrollment.enrollment.institution.name;
            input.setAttribute("type","hidden")
            input.setAttribute("value", enrollment.accessToken)
            input.name = "tellertoken";
            li.appendChild(input);
            ul.appendChild(li);
          },
          onExit: function() {
            console.log("User closed Teller Connect");
          }
        });

        // Part 4. Hook user actions to start Teller Connect
        var el = document.getElementById("teller-connect");
        el.addEventListener("click", function() {
          tellerConnect.open();
        });
      });
    </script>
  </body>
</html>