<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ActualTeller Account Linking</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/actualtellericon.webp') }}">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
      </head>
    <body>
        <div class="min-h-screen w-full bg-cover bg-center sm:bg-contain sm:bg-fixed md:bg-cover lg:bg-cover xl:bg-cover flex justify-center items-center bg-gray-100 overflow-hidden"
         style="background-image: url('{{ url_for('static', filename='images/actualTeller.webp') }}');">
            <div class="absolute top-0 left-0 m-2">
                <img src="{{ url_for('static', filename='images/actualbudget.webp') }}" alt="Top Left Icon" class="h-12 w-12">
            </div>
            <div class="absolute top-0 right-0 m-2">
                <img src="{{ url_for('static', filename='images/teller_io.webp') }}" alt="Top Right Icon" class="h-12 w-12">
            </div>
            <div class="grid place-items-center space-y-4 bg-white bg-opacity-80 sm:p-3 lg:p-8 md:p-4 rounded-xl shadow-md w-full max-w-xl mx-auto">
                    <h1 class="text-3xl text-center">Import Bank transactions into ActualBudget</h1>
                        <div class="space-y-4">                            
                            {% if linked_accounts %}
                                <div class="flex flex-col items-left space-x-4 space-y-2 leading-relaxed">
                                    <h2 class="text-2xl text-center">Linked Actual Accounts</h2>
                                    <p>Click Manual Import to bring up buttons to import ALL available data</p>                                
                                    <p>Then Click the Buttons to import all transactions for an account.</p>
                                    <p>After importing transactions, you must refresh to import again.</p>
                                    <p>You can schedule your import automatically below.</p>
                                </div>
                                <div class="flex flex-col items-center space-x-4 space-y-4">
                                    <h3 class="text-xl">Reauthenticate Account</h3>
                                    <div class="flex flex-col space-y-4 items-center text-center">
                                        <select id="enrollment-select" class="p-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-500">
                                            <option selected value="">--Account to Reauthenticate--</option>
                                            {% for name, enrollmentId in linked_accounts %} 
                                                <option value="{{ enrollmentId }}">{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div>
                                            {% if TELLER_APPLICATION_ID != "" and cert_found and key_found %}
                                                <input type="button" id="teller-connect" enrollment_id="" value="Reauthenticate Connection" class= "bg-gray-600 text-white font-semibold py-2 px-4 rounded-md cursor-not-allowed">	
                                            {% endif %}
                                        </div>
                                    </div>
                                    <h3 onclick="toggleUl(this)" class="text-xl text-blue-800 cursor-pointer hover:underline">Manual Import</h3>
                                    <ul id="collapsibleUl" class="hidden items-left space-y-2 ">
                                        {% for account, enrollment_id in linked_accounts %}
                                            <li class="flex flex-row space-x-4 justify-center">
                                                <form>
                                                    <input type="submit" value="Manual Import for {{ account }}" onclick="submitImport(this,'{{account}}');" {{ button_status }} 
                                                    class="justify-self-end {% if button_status == 'enabled' %}bg-blue-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer
                                                    {% else %}bg-gray-600 text-white font-semibold py-2 px-4 rounded-md cursor-not-allowed {% endif %}">
                                                </form>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}                            
                            {% if unlinked_accounts %}
                                <div class="flex flex-col items-center space-y-2">
                                    <h2 onclick="toggleUl(this)" class="text-2xl text-blue-800 text-center cursor-pointer hover:underline">Unlinked Actual Accounts</h2>
                                    <ul id="collapsibleUl" class="hidden list-disc space-y-2">
                                        {% for account in unlinked_accounts %}
                                            <li>{{ account }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="flex flex-col items-center space-x-4 space-y-2">
                                <h2 class="text-2xl text-center">Reset Links</h2>
                                <form action="/reset" method="get" onsubmit="return disableButtonsForReset();">
                                    <div class="grid grid-col items-center space-y-2 min-w-full">
                                        <p>Click to reset your Actual Teller links</p>
                                        <input type="submit" value="Reset Links" {{ button_status }} 
                                            class="{% if button_status == 'enabled' %}bg-red-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 cursor-pointer
                                            {% else %}bg-gray-600 text-white font-semibold py-2 px-4 rounded-md cursor-not-allowed {% endif %}">
                                    </div>
                                </form>
                            </div>
                            <h2 class="text-2xl text-center">Scheduling Automatic Imports</h2>
                            <div class="flex flex-col items-center space-x-4 space-y-4">
                                <form action="/start_schedule" method="post" onsubmit="disableButtonsForSchedule(); return true"> 
                                    <div class="flex flex-col items-center space-y-2">
                                        <p>Schedule your import to run once a day, for the last <b>{{ TRANSACTION_COUNT }}</b> transactions</p>
                                        <input id="start" type="submit" value="Schedule Automatic Import" {{ button_status }}
                                        class="{% if button_status == 'enabled' %}bg-blue-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer
                                        {% else %}bg-gray-600 text-white font-semibold py-2 px-4 rounded-md cursor-not-allowed {% endif %}">
                                    </div>
                                </form>
                                <form class="flex flex-col items-center space-y-2 min-w-full" action="/stop_schedule" method="post" onsubmit=""> 
                                    <h3 class="text-lg">Stop the previous schedule</h3>
                                    <input id="stop" type="submit" value="Stop Automatic Imports" {{ btn_stop_status }} 
                                    class="{% if btn_stop_status == 'enabled' %}bg-red-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer
                                        {% else %}bg-gray-600 text-white font-semibold py-2 px-4 rounded-md cursor-not-allowed {% endif %}">
                                </form>
                            </div>
                        </div>
                </div>
        </div>
        <script>
            window.onload = function() {
                var selectElement = document.getElementById("enrollment-select");
                if (selectElement) {
                    selectElement.selectedIndex = 0;
                };
                var button = document.getElementById("teller-connect");
                button.disabled = true;
            };
            function disableButtonsForReset()
            {
                let inputs = document.querySelectorAll("input[type='submit']");
                // Add a click event listener to each input
                for (let i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = true;
                    inputs[i].value = "Resetting..."
                    inputs[i].className = "bg-gray-600 text-white font-semibold py-2 px-4 rounded-md cursor-not-allowed"
                }
            };
            
            function disableButtonsForSchedule()
            {
                let inputs = document.querySelectorAll("input[type='submit']");
                // Add a click event listener to each input
                for (let i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = true;
                    inputs[i].value = "Starting Schedule..."
                    inputs[i].className = "bg-gray-600 text-white font-semibold py-2 px-4 rounded-md cursor-not-allowed"
                }
            }

            function submitImport(input,account) {
                data = {
                    account: account
                }                   
                input.disabled = true;
                input.value = "Importing...";
                input.className = "bg-gray-600 text-white font-semibold py-2 px-4 rounded-md cursor-not-allowed"
                fetch("/import", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.text())
                .then(data => {
                    input.value="Import Complete"
                })
            }

            function toggleUl(element) {
                // Find the next sibling <ul> element of the clicked <h2>
                const ul = element.nextElementSibling;
                if (ul && ul.tagName === 'UL') {
                  ul.classList.toggle('hidden');
                }
            }

        </script>
        <script src="https://cdn.teller.io/connect/connect.js"></script>
        <script>
            var ul = document.getElementById("teller_accounts");
            var form = document.getElementById("teller_connect");
            var button = document.getElementById("teller-connect");
            var selectElement = document.getElementById("enrollment-select");
            
            // Part 2. Initialize & configure the client library
            selectElement.addEventListener("change", function() {
                var selectedOption = selectElement.selectedIndex;
                var selected_text = selectElement.options[selectedOption].text;
                var enrollmentId = selectElement.options[selectedOption].value;
                
                console.log(enrollmentId)

                var tellerConnect = TellerConnect.setup({
                    applicationId: "{{ TELLER_APPLICATION_ID }}",
                    environment: "{{ TELLER_ENVIRONMENT_TYPE }}",
                    products: ['verify', 'transactions'],
                    enrollmentId: enrollmentId,
                    selectAccount: 'multiple',
                    onInit: function() {
                        console.log("Teller Connect has initialized");
                    },
                    // Part 3. Handle a successful enrollment's accessToken
                    onSuccess: function(enrollment) {
                        console.log("Reauthentication success")
                    },
                    onExit: function() {
                        console.log("User closed Teller Connect");
                    }
                });

                function handleTellerConnectClick() {
                    tellerConnect.open();
                };

                if (selectedOption !== 0){
                    button.disabled = false;
                    button.className = "bg-green-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer";
                    button.addEventListener('click', handleTellerConnectClick);
                }                    
                else {
                    button.disabled = true;
                    button.className = "bg-gray-600 text-white font-semibold py-2 px-4 rounded-md cursor-not-allowed";
                    button.removeEventListener('click', handleTellerConnectClick);
                }
            });
        </script>
    </body>
</html>