<!DOCTYPE html>
<html>
    <head>
        <title>Actual Budget Linking</title>
    </head>
    <body>
        <h1>Account Linking</h1>
        {% if linked_actual_teller_accounts %}
            <p>The following Actual Accounts were linked</p>
            <p>
                {% for name in linked_actual_teller_accounts %}
                    {{ name }} </br>
                {% endfor %}
            <p>
            {% else %}
                No Accounts were linked
            </p>
            {% endif %}
        {% if unlinked_actual_teller_accounts %}
            <p>The following Actual Accounts were NOT linked</p>
            <p>
                {% for name in unlinked_actual_teller_accounts %}
                    {{ name }} </br>
                {% endfor %}
            </p>
        {% endif %}
        <a href="{{ url_for('continue_import') }}" class="btn">Continue to import page</a>
    </body>
</html>